{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}
    <div class="display-4 ml-5 mt-5">{% block search %}Vous cherchez : {{ search }}{% endblock %}</div>
    <hr class="ml-4">
    <div class="container-fluid p-3 mx-2">
        <div class="row mr-1">
            {% for user in listUser %}

                <div class="col-12 col-md-6 col-lg-6 col-xl-4 px-1">
                    <div class="card mb-2">
                        <div class="wrapper-img-profile mt-lg-3 mt-1">
                            <img class="card-img-top-fmm img" src="/uploads/images/{{ user.ProfilImgRepo }}/{{ user.ProfilImgName }}"
                                 alt="Photo de {{ user.Prenom }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ user.Prenom }} {{ user.Nom }} - {{ user.Age }} ans</h5>
                            <p class="card-text">{{ user.Titre }}</p>
                            <p class="card-text"><small class="text-muted">Inscrit au Campus de {{ user.Campus }}
                                    <br> {{ user.Situation }} - est {{ user.Attirance }}</small></p>

                            <hr>
                            <div class="d-flex justify-content-start">

                                {% if user.UID != userr.UID %}
                                    <a href="/Mate/Profile/{{ user.UID }}" class="card-link btn btn-outline-fmm mt-2">Voir
                                        son profil</a>
                                    <a href="/Mate/Like/{{ user.UID }}" class="card-link btn mt-2
                                        {% if user.UID in likes %} btn-danger">
                                            <i class="fas fa-heart"></i> est Liké</a>
                                        {% else %} btn-outline-danger">
                                            <i class="fas fa-heart"></i> Liker</a>
                                        {% endif %}
                                    <a href="/Messages/Contact/{{ user.UID }}" class="card-link btn btn-outline-primary mt-2">
                                        <i class="fas fa-comment-dots"></i> Messages</a>
                                    <a href="/Mate/Report/{{ user.UID }}" class="card-link btn btn-outline-warning mt-2">
                                        <i class="fas fa-exclamation-triangle"></i> Signaler {{ user.Prenom }}</a>

                                {% else %}
                                    <a href="/Utilisateur/Profile" class="card-link btn btn-outline-fmm mt-2">Voir mon
                                        profil</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="card-text"><small class="text-muted">Inscrit
                                    le {{ user.DateInscription | date("d.m.y") }}</small></p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block js %}
    <script src="./js/refresh.js"></script>
{% endblock %}