{% extends 'Utilisateur/confidentials/form.html.twig' %}

{% block title %}{{ parent() }} - Mot de passe oublié {% endblock %}



{% block body %}
    <div class="container-login100 ">
        <div class="wrap-login100 p-3">
            <form class="login100-form validate-form mt-5" method="post"
                  action="{{ server.document_root }}/Utilisateur/ChangePassword/{{ token }}">
                    <span class="login100-form-avatar">
						<img src="{{ server.document_root }}/doc/fmm.svg" alt="Find My Mate">
					</span>
                <span class="login100-form-title pb-2">
						Find My Mate
					</span>
                <div class="display-4 pb-1 text-center">
                    Changer mon mot de passe
                </div>
                <hr>
                <div class="display-4 text-center mt-5 mb-5">
                    {{ userEmail }}
                </div>

                <div class="wrap-input100 validate-input mt-5 mb-5" data-validate="Mot de passe obligatoire">
                    <input class="input100" type="password" name="changePass" required>
                    <span class="focus-input100" data-placeholder="Nouveau mot de passe"></span>
                </div>



                <div class="container-login100-form-btn mb-5">
                    <button class="login100-form-btn">
                        Changer mon mot de passe
                    </button>
                </div>

                <input type="hidden" name="changeEmail" value="{{ userEmail }}">
                <input type="hidden" name="changeToken" value="{{ token }}">
                <input type="hidden" name="tokenCRSF" value="{{ crsf }}">
            </form>
        </div>
    </div>


    <div id="dropDownSelect1"></div>
{% endblock %}