{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Signalements{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Signalements de {{ user.Prenom }} {{ user.Nom }}</h1>
        <div class="nav-flex d-flex justify-content-start py-2 px-2">
            <a href="/Admin/#actions" class="btn btn-fmm mr-1"><i class="fas fa-chevron-left"></i> Retour</a>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Emetteur</th>
                <th scope="col">Type d'avertissement</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>


            </tr>
            </thead>
            <tbody>
            {% for report in listReports %}
                <tr>
                    <th scope="row">#{{ loop.index }}</th>
                    <th scope="row">{{ report.user.Prenom }} {{ report.user.Nom }}</th>
                    <td>{{ report.r.Type }}</td>
                    <td>{{ report.r.Contenu }}</td>
                    <td>{{ report.r.Date | date('d-m-Y') }}</td>
                    <td>{% if user.UID != userr.UID %}
                            <a class="btn btn-danger" href="/Admin/Report/Delete/{{ report.r.wID }}">
                                <i class="far fa-trash-alt"></i></a>
                        {% endif %}</td>


                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}