{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Modifier {% endblock %}


{% block body %}
    <form method="post" action="/Utilisateur/Profile/Settings/">
        <div class="wall-white">

            <div class="nav-flex d-flex justify-content-between pt-2 px-2">
                <a href="/Home/" class="btn btn-fmm"><i class="fas fa-chevron-left"></i> Retour</a>
                <input type="submit" class="btn btn-fmm" value="Valider les modifications">
            </div>
            <div class="card cardd item-card" style="width: 30rem;">
                <div class="wrapper-img-profile">
                    <img class="card-img-top-fmm img"
                         src="/uploads/images/{{ userr.ProfilImgRepo }}/{{ userr.ProfilImgName }}" alt="Card image cap">
                </div>
            </div>
            <div class="card cardd item-card" style="width: 30rem;">
                <div class="card-body">
                    <h5>{{ userr.Prenom }} {{ userr.Nom }}</h5>
                    <h6 class="text-muted">{{ userr.Age }} ans</h6>
                </div>
                <hr>
                <div class="card-body">
                    <input type="text" name="mTitre" class="form-control mb-2" value="{{ userr.Titre }}">

                    <input type="text" class="form-control mb-2" value="{{ userr.Description }}">

                    <input type="text" class="form-control mb-2" value="{{ userr.Affinites }}">


                </div>
            </div>
        </div>


        {% if userr.Photos is not null and userr.Photos is not empty %}
            <hr>
            {% for photo in userr.Photos %}

                {% if loop.index0 is divisible by(3) %}
                    <div class="row mx-2 mb-4">
                {% endif %}
                <div class="col-lg-4">
                    <div class="wrapper-img-grid">
                        <img class="card-img-top" src="/uploads/images/{{ photo.PhotoDossier }}/{{ photo.PhotoName }}"
                             alt="Photo de {{ userr.Prenom }}">
                    </div>
                    <div class="input-group mb-3">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01" width="6">Modifier l'image</label>
                        </div>
                    </div>

                </div>
                {% if loop.index0 is divisible by(3) and loop.index0 != 0 %}
                    </div>
                {% endif %}

            {% endfor %}
        {% else %}
            <div class="display-4">Tu n'as pas de photos.</div>

            <div class="custom-file mt-3">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01" width="6">Ajouter une image</label>
            </div>
        {% endif %}


    </form>
{% endblock %}