{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Profil {% endblock %}



{% block body %}
    <div class="wall-white">
        <div class="nav-flex d-flex justify-content-between pt-2 px-2">
            <a href="/Home/" class="back"><img class="svg-back" src="/doc/back.png"></a>
            <a href="/Utilisateur/Settings/" class="btn btn-fmm"><i class="fas fa-pencil-alt"></i></a>
        </div>
        <div class="card cardd item-card" style="width: 30rem;">
            <div class="wrapper-img-profile">
                <img class="card-img-top-fmm img"
                     src="/uploads/images/{{ userr.ProfilImgRepo }}/{{ userr.ProfilImgName }}" alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="wrapper-imgs-flex">
        <div class="card card-imgs" style="width: 50rem;">
            <div class="wrapper-img-grid">
                <img class="card-img-top" src="/doc/wall-test.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5>{{ userr.Prenom }} {{ userr.Nom }}</h5>
                <h6 class="text-muted">{{ userr.Age }} ans</h6>
            </div>
            <hr>
            <div class="card-body">
                <p>{{ userr.Titre }}</p>
                <p>{{ userr.Description }} </p>

            </div>
        </div>
    </div>


    {% if userr.Photos is not null and userr.Photos is not empty %}
        {% for photo in userr.Photos %}

            {% if loop.index is divisible by(2) %}
                <div class="wrapper-imgs-flex">
            {% endif %}
            <div class="card cardd card-imgs" style="width: 50rem;">
                <div class="wrapper-img-grid">
                    <img class="card-img-top" src="/uploads/images/{{ photo.PhotoDossier }}/{{ photo.PhotoName }}"
                         alt="Photo de {{ userr.Prenom }}">
                </div>
            </div>
            {% if loop.index is divisible by(2) %}
                </div>
            {% endif %}

        {% endfor %}
    {% else %}
        <div class="display-4">Tu n'as pas de photos.</div>
    {% endif %}


    <!--<div class="wrapper-imgs-flex">
        <div class="card cardd card-imgs" style="width: 50rem;">
            <div class="wrapper-img-grid">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            </div>
        </div>
        <div class="card cardd card-imgs" style="width: 50rem;">
            <div class="wrapper-img-grid">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="wrapper-imgs-flex">
        <div class="card cardd card-imgs" style="width: 50rem;">
            <div class="wrapper-img-grid">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            </div>
        </div>
        <div class="card cardd card-imgs" style="width: 50rem;">
            <div class="wrapper-img-grid">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            </div>
        </div>
    </div>
    </div>-->
{% endblock %}