<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Find My Mate - S'inscrire{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/pepper-grinder/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css">
    <link rel="stylesheet" href="{{ server.document_root }}/css/fmm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ server.document_root }}/css/util.css">
    <link rel="stylesheet" type="text/css" href="{{ server.document_root }}/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.css" integrity="sha256-eacfEFFt07So0i0jcf0GCoJfYEnTpTelDK3/9zN+P0g=" crossorigin="anonymous" />


<body>

<div class="container-login100 ">
    <div class="wrap-login100 p-3">
        <form class="login100-form validate-form mt-5" method="post" action="{{ server.document_root }}/Utilisateur/Register">
                    <span class="login100-form-avatar">
						<img src="{{ server.document_root }}/doc/fmm.svg" alt="Find My Mate">
					</span>
            <span class="login100-form-title pb-2">
						Find My Mate
					</span>
            <div class="display-4 pb-1 text-center">
						Création d'un compte
					</div>


            <div class="mt-5 d-flex justify-content-between">

                <div class="col-sm-6 wrap-input100 validate-input">
                    <input type="text" class="input100" name="registerPrenom" id="registerPrenom">
                    <span class="focus-input100" data-placeholder="Prénom"></span>
                </div>
                <div class="col-sm-6 wrap-input100 validate-input">
                    <input type="text" class="input100" name="registerNom" id="registerNom">
                    <span class="focus-input100" data-placeholder="Nom de famille"></span>
                </div>



            </div>


                <div class="wrap-input100 validate-input mt-4">
                    <input type="email" class="input100" id="registerEmail" name="registerEmail" required>
                    <span class="focus-input100" data-placeholder="Adresse e-mail"></span>
                </div>
                <div class="wrap-input100 validate-input mt-4">
                    <input type="password" class="input100" id="registerMotDePasse" name="registerMotDePasse" required>
                    <span class="focus-input100" data-placeholder="Mot de passe"></span>

                </div>


            <hr>


            <div class=" mt-5 d-flex justify-content-between">
                <div class="col-sm-8 wrap-input100 validate-input">
                    <input type="text" class="input100" id="registerAffinites" name="registerTravail">
                    <span class="focus-input100" data-placeholder="Vos affinités"></span>
                </div>


                <div class="col-sm-4">
                    <label for="registerSexe">Sexe</label>
                    <select id="registerSexe" name="registerSexe" class="form-control">
                        <option>Homme</option>
                        <option>Femme</option>
                        <option>Autre</option>
                    </select>
                </div>
            </div>

            <div class=" wrap-input100 validate-input mt-4">
                <input class="input100" type="text" id="registerTitre" name="registerTitre">
                <span class="focus-input100" data-placeholder="Une brève description de vous"></span>



            </div>

            <div class=" wrap-input100 validate-input mt-5">
                <textarea class="input100 textarea100" id="registerDescription" name="registerDescription" rows="5"></textarea>
                <span class="focus-input100" data-placeholder="Dites nous en plus"></span>
            </div>



            <hr>




            <div class=" mt-4 d-flex justify-content-between">
                <div class="col-sm-8 wrap-input100 validate-input">
                    <input type="text" class="input100" id="registerVille" name="registerVille" required>
                    <span class="focus-input100" data-placeholder="Ville"></span>
                </div>

                <div class="col-sm-4 wrap-input100 validate-input">
                    <input type="text" class="input100" id="registerCP" name="registerCampus">
                    <span class="focus-input100" data-placeholder="Campus"></span>
                </div>
            </div>
            <div class="wrap-input100 validate-input mt-4 mb-5">
                <input type="text" class="input100" id="registerTelephone" name="registerTelephone">
                <span class="focus-input100" data-placeholder="Téléphone"></span>
            </div>




            <div class="container-login100-form-btn mt-5 mb-5">
                <button class="login100-form-btn">
                    S'inscrire
                </button>
            </div>

            <ul class="login-more">
                <li class="mb-2">
                    <a href="#" class="txt2">
                        Identifiants
                    </a>
                    <span class="txt1">
								oubliés ?
							</span>


                </li>

                <li class="mb-5">
							<span class="txt1">
								J'ai déjà un compte,
							</span>

                    <a href="{{ server.document_root }}/Utilisateur/Login" class="txt2">
                        je me connecte!
                    </a>
                </li>
            </ul>
            <select id="registerSituation" name="registerSituation" class="form-control">
                <option>Célibataire</option>
                <option>En couple</option>
                <option>Marié</option>
                <option>Autre</option>
            </select>
            <input type="number" id="registerAge" name="registerAge" min="15" max="100">
            <select id="registerAttirance" name="registerAttirance" class="form-control">
                <option>Hétérosexuel</option>
                <option>Homosexuel</option>
                <option>Bisexuel</option>
                <option>Autre</option>
            </select>
            <input type="hidden" name="registerLat" value="0"/>
            <input type="hidden" name="registerLong" value="0"/>
        </form>
    </div>
</div>


<div id="dropDownSelect1"></div>


<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.js"></script>
<script src="{{ server.document_root }}/js/login.js"></script>


</body>
</html>