<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Find My Mate{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/pepper-grinder/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css">
    <link rel="stylesheet" href="/css/fmm.css">
    {% block css %}{% endblock %}
</head>
<body class="p-top">

<nav class="navbar {% block navclass %}fixed-top {% endblock %} nav-pills navbar-light bg-light justify-content-between wall-white-nav">


    <div>
        <form class="form-inline input-group" method="post" action="/Home/Search">
            <input class="form-control fontawesome" type="search" placeholder="Rechercher votre Mate" name="search"
                   required>
            <input type="hidden" name="origin" value="index">
            <input type="hidden" name="tokencsrf" value="{{ tokenCRSF }}">
            <div class="input-group-append">
                <input type="submit" class="btn btn-outline-fmm fa" value="&#xF002;">
            </div>
        </form>
    </div>

    <a class="navbar-brand center responsive-dnone brand-fmm" href="/">
        <img src="/doc/fmm.svg" width="30" height="30" class="d-inline-block align-top"
             alt="Find My Mate">
        Find My Mate
    </a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>-
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">-->
    <!--<div class="row">-->

    <a class="responsive-dyes" href="/">
        <img src="/doc/fmm.svg" width="30" height="30" class="d-inline-block align-top"
             alt="Find My Mate">

    </a>
    <div class="dropleft ">

        <a href="#" class="dropdown-toggle no-hover" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
            <img src="/uploads/images/{{ userr.ProfilImgRepo }}/{{ userr.ProfilImgName }}" alt="Utilisateur"
                 style="height: 40px; width: 40px"
                 class="img-thumbnail rounded-circle">
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if userr is defined %}
                <a class="dropdown-item" href="/">Accueil</a>
                <h6 class="dropdown-header">Fonctionnalités</h6>
                <a class="dropdown-item" href="/Messages/">Vos Messages</a>
                <a class="dropdown-item" href="/Mate/List">Vos Mates</a>
                <a class="dropdown-item" href="/Utilisateur/Profile">Votre compte</a>

                {% if admin %}
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Administrateur</h6>
                    <a class="dropdown-item" href="/Admin">Panneau d'administrateur</a>
                {% endif %}

                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Paramètres</h6>
                <a class="dropdown-item" href="/Utilisateur/Profile/Settings">Modifier votre profil</a>
                <a class="dropdown-item" href="/Utilisateur/Disconnect">Se déconnecter</a>
            {% else %}

                <a class="dropdown-item" href="/Utilisateur/Register">Se créer un compte</a>
                <a class="dropdown-item" href="/Utilisateur/Login">Se connecter</a>
            {% endif %}
        </div>

    </div>


</nav>

{% if notifications is defined and notifications is not null %}

<div class="position-absolute d-flex flex-column justify-content-end align-items-end p-2" style="z-index: 5000">

    {% for notif in notifications %}

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
            <div class="toast-header">
                <img src="/doc/fmm.svg" class="rounded mr-2" height="20px" alt="...">
                <strong class="mr-auto">Nouveau message</strong>
                <small class="text-muted">{{ notif.messageDate | date('H:m d/m/y') }}</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <a href="/Messages/Contact/{{ notif.transmitterUser.UID }}" class="no-hover mb-1">
                <div class="toast-body">
                    {{ notif.transmitterUser.Prenom }} {{ notif.transmitterUser.Nom }} vous a envoyé un message
                    <hr>
                    {{ notif.messageContent|length > 50 ? notif.messageContent|slice(0, 50) ~ '...' : notif.messageContent }}
                </div>
            </a>
        </div>

    {% endfor %}

    {% endif %}
</div>
<!-- Footer
<footer class="fixed-bottom-custom responsive-dnone font-small wall-white-nav">


    <div class="footer-copyright wall-white-nav text-center py-3">© 2020 Find My Mate:
        <a href="/"> FindMyMate.fr</a>
    </div>


</footer>
Footer -->

{% block body %}{% endblock %}


<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>


<script>$('.toast').toast('show');</script>
{% block js %}{% endblock %}
</body>
</html>
