{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Recherche{% endblock %}

{% block body %}
    <div class="container-fluid p-3 mx-2">
        <div class="row">
            {% for user in listUser %}
                <div class="card mx-1" style="width: 18rem;">
                    <img class="img-fluid" src="/uploads/images/{{ user.ProfilImgRepo }}/{{ user.ProfilImgName }}"
                         alt="{{ user.Prenom }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.Prenom }} {{ user.Nom }} - {{ user.Age }} ans</h5>
                        <p class="card-text">{{ user.Titre }}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">{{ user.Campus }}</li>
                        <li class="list-group-item">{{ user.Situation }}</li>
                        <li class="list-group-item">{{ user.Attirance }}</li>
                    </ul>
                    <div class="card-body">

                        <a href="/Home/Mate/{{ user.UID }}" class="card-link btn btn-outline-fmm">Voir son profil</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}