{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Messages {% endblock %}

{% block css %}

    <style>
        .fmm-active {
            background-image: linear-gradient(to left bottom, #730ebd, #9600b4, #b000aa, #c600a0, #d80096);
            transition: 0.5s;
            background-size: 200% auto;
            border-bottom: solid 1px white;
        }

        .fmm-active:hover {
            background-position: right center;

        }

    </style>

{% endblock %}

{% block body %}



    <div class="rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="px-0">
        <div class="bg-white">

            <div class="bg-gray px-4 py-2 bg-light">
                <p class="display-3 mb-3 py-1">Messages</p>
            </div>

            <hr>
            <div class="messages-box">
                <div class="list-group mx-sm-2 mx-lg-4 rounded-0">

                    {% for conversation in conversations %}
                        {% if conversation.contact.Email != userr.Email %}
                            <div class="card border-bottom-fmm mb-1">
                                <a class="list-group-item list-group-item-action"
                                   href='/Messages/Contact/{{ conversation.contact.UID }}'>
                                    <div class="media">
                                        <div class="mask"><img
                                                    src="/uploads/images/{{ conversation.contact.ProfilImgRepo }}/{{ conversation.contact.ProfilImgName }}"
                                                    alt="{{ conversation.contact.Prenom }} {{ conversation.contact.Nom }}"
                                                    width="50" style="top:50%"></div>

                                        <div class="media-body ml-4">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                <h6 class="mb-0">{{ conversation.contact.Prenom }} </h6><small
                                                        class="small font-weight-bold">{{ conversation.messageDate| date('H:m - d M Y') }}</small>
                                            </div>
                                            <p class="font-italic mb-0 text-small">
                                                {{ conversation.messageContent|length > 50 ? conversation.messageContent|slice(0, 50) ~ '...' : conversation.messageContent }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}