{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Messages {% endblock %}



{% block css %}
    <link rel="stylesheet" href="/css/stylechat.css"> {% endblock %}
{% block body %}

    <div class="px-4 chat-box bg-white" id="chatbox">


        <!-- Sender Message-->
        {% for msg in allMsg %}
            {% if msg.ID_UTILISATEUR == user.UID and msg.UTI_ID_UTILISATEUR == userr.UID %}
                <div class="media w-50 mt-3">
                    <div class="mask"><a href="/Mate/Profile/{{ user.UID }}" class="no-hover"><img
                                    src="/uploads/images/{{ user.ProfilImgRepo }}/{{ user.ProfilImgName }}"
                                    alt="{{ user.Prenom }} {{ user.Nom }}"
                                    width="50"></a></div>

                    <div class="media-body ml-3">
                        <div class="bg-light rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-muted">{{ msg.MES_CONTENU }}</p>
                        </div>
                        <p class="small text-muted">{{ msg.MES_DATE }}</p>
                    </div>
                </div>


                <!-- Reciever Message-->
            {% elseif msg.ID_UTILISATEUR == userr.UID and msg.UTI_ID_UTILISATEUR == user.UID %}
                <div class="media w-50 ml-auto mt-3">
                    <div class="media-body">
                        <div class="bg-fmm rounded py-2 px-3 mb-2">
                            <p class="text-small mb-0 text-white">{{ msg.MES_CONTENU }}</p>
                        </div>
                        <p class="small text-muted">{{ msg.MES_DATE }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}


    </div>

    <div class="p-fixed">
        <form action="/Messages/" method="post" class="bg-light">
            <div class="input-group">
                <a href="/Messages/" class="btn btn-link my-auto"><i class="fas fa-chevron-circle-left"></i></a>
                <input value="" type="text" name="msg" placeholder="Envoyer un message" aria-describedby="button-addon2"
                       class="form-control rounded-0 border-0 py-4 bg-light" required>
                <div class="input-group-append">
                    <button id="button-addon2" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
            <input type="hidden" name="sendToUser" value="{{ user.UID }}">
            <input type="hidden" name="crsf" value="{{ token }}">
        </form>
    </div>




{% endblock %}
{% block js %}
    <script>

        $(document).ready(function () {

            var objDiv = document.getElementById("chatbox");
            objDiv.scrollTop = objDiv.scrollHeight;

            console.log('DEBUG PURPOSES');
            console.log('form token', '{{ token }}');
            console.log('session token', '{{ stoken }}');
        });

    </script>
{% endblock %}